# Python
__pycache__/
*.py[cod]

# 仮想環境
venv/
.venv/
.env/

# エディタ・OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# 一時ファイル
*.tmp
*.bak
*.swp

# LaTeX 出力
static/uploads/*.aux
static/uploads/*.log
static/uploads/*.fdb_latexmk
static/uploads/*.fls
static/uploads/*.pdf
static/uploads/*.tex
static/uploads/*.dot

# 画像
*.png
!docs/demo.png

# その他
*.zip
*.egg-info/
